{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - css_files
 * - css_url
 * - js_url
 * - favicon_url
 * - img_url
 * - img_gulp_demo
 * - lang_code
 * - favicon_color
 *
 */
#}

{% set random = random(99999999999) %}
{% set page_description = 'Page description' %}

<!DOCTYPE html><!--[if IE ]>
<html class="ie" lang="{{ lang_code }}" dir="ltr">
<![endif]-->
<!--[if !(IE)]><! -->
<html lang="{{ lang_code }}" dir="ltr">
<!--<![endif]-->
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="initial-scale=1.0,width=device-width,height=device-height,shrink-to-fit=no">
        <meta name="robots" content="noindex, nofollow"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="google" content="notranslate"/>
        <meta name="og:type" content="website">
        <!--[if (IEMobile)]>
            <meta http-equiv="cleartype" content="on">
        <![endif]-->
        <title>{{ project_name }}</title>
        <meta name="og:title" content="{{ project_name }}">
        <meta name="og:site_name" content="{{ project_name }}">
        <meta name="description" content="{{ page_description }}">
        <meta name="og:description" content="{{ page_description }}">
        <meta name="image" content="{{ img_gulp_demo }}screenshot.png?{{ random }}">
        <meta name="og:image" content="{{ img_gulp_demo }}screenshot.png?{{ random }}">
        {% if (favicon_url) %}
            <link rel="apple-touch-icon" sizes="114x114" href="{{ favicon_url }}apple-touch-icon-114x114.png?{{ random }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ favicon_url }}apple-touch-icon-120x120.png?{{ random }}">
            <link rel="apple-touch-icon" sizes="144x144" href="{{ favicon_url }}apple-touch-icon-144x144.png?{{ random }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ favicon_url }}apple-touch-icon-152x152.png?{{ random }}">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_url }}apple-touch-icon-180x180.png?{{ random }}">
            <link rel="apple-touch-icon" sizes="57x57" href="{{ favicon_url }}apple-touch-icon-57x57.png?{{ random }}">
            <link rel="apple-touch-icon" sizes="60x60" href="{{ favicon_url }}apple-touch-icon-60x60.png?{{ random }}">
            <link rel="apple-touch-icon" sizes="72x72" href="{{ favicon_url }}apple-touch-icon-72x72.png?{{ random }}">
            <link rel="apple-touch-icon" sizes="76x76" href="{{ favicon_url }}apple-touch-icon-76x76.png?{{ random }}">
            <link rel="apple-touch-startup-image" href="{{ favicon_url }}apple-touch-icon.png?{{ random }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon_url }}favicon-16x16.png?{{ random }}">
            <link rel="icon" type="image/png" sizes="228x228" href="{{ favicon_url }}coast-228x228.png?{{ random }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon_url }}favicon-32x32.png?{{ random }}">
            <link rel="manifest" href="{{ favicon_url }}manifest.json?{{ random }}">
            <link rel="shortcut icon" href="{{ favicon_url }}favicon.ico?{{ random }}">
            <link rel="yandex-tableau-widget" href="{{ favicon_url }}yandex-browser-manifest.json?{{ random }}">
            <meta name="msapplication-TileImage" content="{{ favicon_url }}mstile-144x144.png?{{ random }}">
            <meta name="msapplication-config" content="{{ favicon_url }}browserconfig.xml?{{ random }}">
            <meta name="theme-color" content="{{ favicon_color }}">
            <meta name="msapplication-TileColor" content="{{ favicon_color }}">
            <meta name="apple-mobile-web-app-title" content="{{ project_name }}">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
            <meta name="application-name" content="{{ project_name }}">
        {% endif %}
        {% for css_file in css_files %}
            {% if css_file.name == 'print' %}
                <link rel="stylesheet" href="{{ css_file.url }}?{{ random }}" type="text/css" media="print"/>
            {% endif %}
            {% if css_file.name == 'gulp-index' %}
                <link rel="stylesheet" href="{{ css_file.url }}?{{ random }}" type="text/css" media="not print"/>
            {% endif %}
        {% endfor %}
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <div class="inner">
                    <h1>{{ project_name }}</h1>
                    <h2>Templates</h2>
                    <ul>
                        {{ preview_menu }}
                    </ul>
                    {% if css_files|length > 0 %}
                        <h2>Stylesheets</h2>
                        <ul>
                            {% for css_file in css_files %}
                                <li><a href="{{ css_file.url }}" title="Open {{ css_file.name }}.css" target="_blank">{{ css_file.name }}.css</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if js_url %}
                        <h2>Scripts</h2>
                        <ul>
                            <li><a href="{{ js_url.url }}" title="Open {{ js_url.url }}" target="_blank">{{ js_url.filename }}</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>